<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @repair.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @repair.email %>
</p>

<%= link_to 'Edit', edit_repair_path(@repair) %> |
<%= link_to 'Back', repairs_path %>
